<div style="background-color: lightblue; padding: 40px; font-size: 40px;">
             Classification Model Evaluation
</div>

   Classification is a technique for labeling the class of an observation.Classification can be used to predict        binary classes (2 classes) or multi-classes (>2 classes).

   Classification Model: A series of steps that takes the patterns of input variables, generalizes those patterns,    and applies them to new data in order to predict the class.
   
   A confusion matrix is a cross-tabulation of our model's predictions against the actual values. 
  
   Accuracy evaluates how many correct predictions (both positive and negative) were made over the total number of    predictions.
  
   Precision evaluates how many of the positive predictions were correct.
  
   Recall evaluates how the model handled all positive outcomes.
  
   Misclassification rate concerns how many predictions were incorrect. This accounts for all other outcomes not      included in the calculation of accuracy.
  
   Sensitivity (True Positive Rate) TP/(TP+FN)

   How well does the model predict negative outcomes? Specificity TN/(FP+TN)

   Negative Predictive Value  TN/(FN+TN)
  
   F1 Score  2*((Precision*Recall)/(Precision+Recall))

   The baseline is a simple model that is a reference point for the performance of other models.
   For a classification model, a baseline is often the mode.

In [ ]:
Designation	Description
True Negative	Model correctly predicted the negative outcome
False Positive	Model incorrectly predicted the positive outcome
False Negative	Model incorrectly predicted the negative outcome
True Positive	Model correctly predicted the positive outcome

### Exercises

### 1. Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

### 2.Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |
In the context of this problem, what is a false positive?
In the context of this problem, what is a false negative?
How would you describe this model?

Dog is negative class
Cat is positive class

### 2.1 In the context of this problem, what is a false positive? 

False Positive: We predicted a cat but it is a dog.

The predicted false positive is 7.

### 2.2 In the context of this problem, what is a false negative?

False Negative: We predicted a dog but it is a cat.

The predicted false negative is 13.

### 2.3 How would you describe this model?

Since we are setting Cat is positive class and Dog is negative class:


True positive would be predicting a cat and it is an actual cat

True negative would be predicting a dog and it is an actual dog

False positive would be predicting a cat and it is a dog

False negative would be predicting a dog and it is a cat

In [74]:
#true positive is predicting its a cat, and its a cat
tp = 34

#true negative is predicting its a dog, and its a dog
tn = 46

#false positive is predicting its a cat, but its a dog
fp = 7

#false negative is predicting its a dog, but its a cat
fn = 13

In [75]:

print("Cat-classifier (i.e 'cat' is the positive prediction)")

print("False Negatives:", fn)
print("True Negatives:", tn)
print("True Positives:", tp)
print("False Positives:", fp)
print("===========================")

accuracy = (tp + tn) / (tp + tn + fp + fn)
precision = tp / (tp + fp)
recall = tp / (tp + fn)

print("Accuracy is:", accuracy)
print("Recall is:", round(recall,2))
print("Precision is:", round(precision,2))

Cat-classifier (i.e 'cat' is the positive prediction)
False Negatives: 13
True Negatives: 46
True Positives: 34
False Positives: 7
===========================
Accuracy is: 0.8
Recall is: 0.72
Precision is: 0.83

### 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?


Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [76]:
import pandas as pd

In [77]:
# Download the c3.csv into your current folder
#load dataframe
ccc_df = pd.read_csv('c3.csv')

#take a look
ccc_df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

### 3. a. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [78]:
#checking the no: of defects and non-defects in the actual data
ccc_df.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

In [79]:
# comparing the distribution of categorical variables in the dataset for model1
pd.crosstab(ccc_df.actual, ccc_df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [80]:
# comparing the distribution of categorical variables in the dataset for model2
pd.crosstab(ccc_df.actual, ccc_df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [81]:
# comparing the distribution of categorical variables in the dataset for model3
pd.crosstab(ccc_df.actual, ccc_df.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [ ]:
As we are interested in defect we will assign it as positive class for the classifier.

defects = positive class
Our best metric here is recall = tp/(tp + fn)

how many real positives do we have?
how many of defective ducks are actually flagged by defective (positive) by the models?
let's minimize our false negatives

In [82]:
# Model positives
subset = ccc_df [ccc_df.actual == 'Defect']
subset.head()

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect
70  Defect     Defect     Defect  Defect
74  Defect  No Defect  No Defect  Defect

In [83]:
# model1
model1_recall = (subset['actual'] == subset['model1']).mean()

# model2
model2_recall = (subset['actual'] == subset['model2']).mean()
#model3
model3_recall = (subset['actual'] == subset['model3']).mean()

print(f"Model 1 Recall: {model1_recall:.2%} \n Model 2 Recall: {model2_recall:.2%} \n Model 3 Recall: {model3_recall:.2%} \n")

'''
Choose Recall as the metric and Model 3 as the optimal model

'''

Model 1 Recall: 50.00%
 Model 2 Recall: 56.25%
 Model 3 Recall: 81.25%

'\nChoose Recall as the metric and Model 3 as the optimal model\n\n'

In [ ]:
# OR

In [84]:
#Model 1 recall
(subset.actual == subset.model1).mean()

0.5

In [85]:
#Model 2 recall
(subset.actual == subset.model2).mean()

0.5625

In [86]:
#Model 3 recall
(subset.actual == subset.model3).mean()

0.8125

In [ ]:
Quality Control should select a model with higher recall (to avoid false negatives)
Quality Control should use Model 3

### b. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [88]:
# pull positive predictions from each model
# subset the data for positives from each model

#model1 precision
subset = ccc_df[ccc_df.model1=='Defect']
model1_precision = (subset.actual == subset.model1).mean()

# choose subset for model2 where we only select 'positive predictions'
subset2 = ccc_df [ccc_df.model2 == 'Defect']
# calculate precision
model2_precision = (subset2.actual == subset2.model2).mean()

# choose subset for model3 where we only select 'positive predictions'
subset3 = ccc_df [ccc_df.model3 == 'Defect']
# calculate precision
model3_precision = (subset3.actual == subset3.model3).mean()

print(f"""Model 1 Precision: {model1_precision:.2%}
Model 2 Precision: {model2_precision:.2%}
Model 3 Precision: {model3_precision:.2%}
""")

Model 1 Precision: 80.00%
Model 2 Precision: 10.00%
Model 3 Precision: 13.13%

In [ ]:
# OR

In [ ]:
PR team really wants to minimize the False positives means choose the model with the highest precision.

So the best models for this scenario is precision = tp / (tp + fp)

defect = positive class

In [89]:
# choose subset for model 1 where we only select 'positive predictions'
subset = ccc_df [ccc_df.model1 == 'Defect']

# calculate precision
(subset.actual == subset.model1).mean()

0.8

In [90]:
#Choose subset for model2 where we only select 'positive predictions'
subset = ccc_df[ccc_df.model2 == 'Defect']

#calculate precision
(subset.actual == subset.model2).mean()

0.1

In [91]:
#Choose subset for model3 where we only select 'positive predictions'
subset = ccc_df[ccc_df.model3 == 'Defect']

#calculate precision
(subset.actual == subset.model3).mean()

0.13131313131313133

In [ ]:
Use model 1 as it has the highest precision, hence it will minimize the false positive predictions of defects

### 4.You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II). Several models have already been developed with the data, and you can find their results here. Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [14]:
#Download the gives_you_paws.csv into your current folder
# load dataframe
paws_df = pd.read_csv('gives_you_paws.csv')

# take a look
paws_df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [15]:
#Look at the kind of columns and dtypes we are dealing with
paws_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [16]:
# our actual counts
paws_df.actual.value_counts()

actual
dog    3254
cat    1746
Name: count, dtype: int64

In [17]:
#set the most common class ('dog') as the baseline
paws_df['baseline'] = paws_df.actual.value_counts().idxmax()
paws_df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

### 4. a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?


cat = positive class
dog = negative class

In [18]:
print("Baseline",( paws_df['actual'] == paws_df['baseline']).mean())

print("Model1",( paws_df['actual'] == paws_df['model1']).mean())

print("Model2",( paws_df['actual'] == paws_df['model2']).mean())

print("Model3",( paws_df['actual'] == paws_df['model3']).mean())

print("Model4",( paws_df['actual'] == paws_df['model4']).mean())

Baseline 0.6508
Model1 0.8074
Model2 0.6304
Model3 0.5096
Model4 0.7426

In [ ]:
# OR

In [19]:
#baseline accuracy 
(paws_df.actual == paws_df.baseline).mean()

0.6508

In [20]:
#model 1 accuracy
(paws_df.model1 == paws_df.actual).mean()

0.8074

In [21]:
#model 2 accuracy
(paws_df.model2 == paws_df.actual).mean()

0.6304

In [22]:
#model 3 accuracy
(paws_df.model3 == paws_df.actual).mean()

0.5096

In [23]:
#model 4 accuracy
(paws_df.model4 == paws_df.actual).mean()

0.7426

In [ ]:
In terms of accuracy, model 1 and model 4 perform better than baseline

### 4. b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

dog = positive class
cat = negative class
Two-phases - recall = tp/(tp + fn) and precision = tp/(tp + fp)

In [ ]:
# subsetting the data for just dogs
# we are using reality, so use recall

In [24]:
# For Phase I, choose a model with highest recall

subset = paws_df[paws_df.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [25]:
model_recall = []

# for everything except actual so from model1 and on... do something
for model in subset.columns[1:]:
    recall = (subset.actual == subset[model]).mean()
    model_recall.append([model, recall])
    
model_recall

[['model1', 0.803318992009834],
 ['model2', 0.49078057775046097],
 ['model3', 0.5086047940995697],
 ['model4', 0.9557467732022127],
 ['baseline', 1.0]]

In [ ]:
# OR

In [26]:
# Model 1 Recall
(subset.actual == subset.model1).mean()

0.803318992009834

In [27]:
# Model 2 Recall
(subset.actual == subset.model2).mean()

0.49078057775046097

In [28]:
# Model 3 Recall
(subset.actual == subset.model3).mean()

0.5086047940995697

In [29]:
# Model 4 Recall
(subset.actual == subset.model4).mean()

0.9557467732022127

In [ ]:
Model 4 is performing the best, with Recall of 0.96

### For Phase II, choose a model with highest precision

In [30]:
subset1 = paws_df[paws_df.model1 == 'dog']
subset2 = paws_df[paws_df.model2 == 'dog']
subset3 = paws_df[paws_df.model3 == 'dog']
subset4 = paws_df[paws_df.model4 == 'dog']

In [31]:
print("Subset 1: ", (subset1.actual == subset1.model1).mean())
print("Subset 2: ", (subset2.actual == subset2.model2).mean())
print("Subset 3: ", (subset3.actual == subset3.model3).mean())
print("Subset 4: ", (subset4.actual == subset4.model4).mean())

Subset 1:  0.8900238338440586
Subset 2:  0.8931767337807607
Subset 3:  0.6598883572567783
Subset 4:  0.7312485304490948

In [ ]:
Model 2 performs the best in terms of our evaluation metric: Precision of 89.3%

In [ ]:
# OR

In [32]:
# For Phase II, choose a model with highest precision

subset = paws_df[paws_df.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [33]:
#take another look
paws_df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [ ]:
#subset +ive classes in each model to calculate precision

In [35]:
subset1 = paws_df[paws_df.model1 == 'dog']
subset2 = paws_df[paws_df.model2 == 'dog']
subset3 = paws_df[paws_df.model3 == 'dog']
subset4 = paws_df[paws_df.model4 == 'dog']

In [36]:
# Model 1 Precision
(subset1.actual == subset1.model1).mean()

0.8900238338440586

In [37]:
# Model 2 Precision
(subset2.actual == subset2.model2).mean()

0.8931767337807607

In [38]:
# Model 3 Precision
(subset3.actual == subset3.model3).mean()

0.6598883572567783

In [39]:
# Model 4 Precision
(subset4.actual == subset4.model4).mean()

0.7312485304490948

In [ ]:
Model 2 and Model 1 are performing best with Precision of 0.893

### 4. c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

dog = negative class
cat = postive class
Two-phases - recall = tp/(tp + fn) and precision = tp/(tp + fp)

In [40]:
#paws_df.drop(columns=['baseline'], inplace=True)
paws_df['baseline'] = 'cat'
paws_df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
4    cat    cat    cat    dog    dog      cat

In [41]:
#phaseII: precision

model_prec = []


for model in paws_df.columns[1:]:
    subset = paws_df[paws_df[model] == 'cat']
    
    precision = (subset.actual == subset[model]).mean()
    
    
    model_prec.append([model, precision])
    
model_prec

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', 0.3492]]

In [ ]:
Model 4 is best in terms of recall

In [42]:
# Phase I recall

subset = paws_df[paws_df.actual=='cat']

model_recall = []


for model in subset.columns[1:]:
    subset = paws_df[paws_df[model] == 'cat']
    
    recall = (subset.actual == subset.model1).mean()

    
    model_recall.append([model, recall])
    
model_recall

[['model1', 0.6897721764420747],
 ['model2', 0.811332503113325],
 ['model3', 0.8117977528089888],
 ['model4', 0.8313253012048193],
 ['baseline', 0.8074]]

In [ ]:
Model 4 is best in terms of Precision

In [ ]:
# OR

In [43]:
# For Phase I, choose a model with highest recall

subset = paws_df[paws_df.actual == 'cat']
subset.head()

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      cat
4     cat    cat    cat    dog    dog      cat
6     cat    cat    cat    cat    dog      cat
7     cat    dog    cat    cat    dog      cat
11    cat    cat    dog    cat    cat      cat

In [44]:
# Model 1 Recall
(subset.actual == subset.model1).mean()

0.8150057273768614

In [45]:
# Model 2 Recall
(subset.actual == subset.model2).mean()

0.8906071019473081

In [46]:
# Model 3 Recall
(subset.actual == subset.model3).mean()

0.5114547537227949

In [47]:
# Model 4 Recall
(subset.actual == subset.model4).mean()

0.34536082474226804

In [ ]:
Model 2 is performing the best, with Recall of 0.89

In [48]:
subset1 = paws_df[paws_df.model1 == 'cat']
subset2 = paws_df[paws_df.model2 == 'cat']
subset3 = paws_df[paws_df.model3 == 'cat']
subset4 = paws_df[paws_df.model4 == 'cat']

In [49]:
# Model 1 Precision
(subset1.actual == subset1.model1).mean()

0.6897721764420747

In [50]:
# Model 2 Precision
(subset2.actual == subset2.model2).mean()

0.4841220423412204

In [51]:
# Model 3 Precision
(subset3.actual == subset3.model3).mean()

0.358346709470305

In [52]:
# Model 4 Precision
(subset4.actual == subset4.model4).mean()

0.8072289156626506

In [ ]:
Model 4 is performing the best, with precision of .81

### 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [53]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report
import pandas as pd

In [54]:
print("Model 1")

pd.DataFrame(classification_report(paws_df.actual, paws_df.model1,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [55]:
print("Model 2")

pd.DataFrame(classification_report(paws_df.actual, paws_df.model2,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [56]:
print("Model 3")

pd.DataFrame(classification_report(paws_df.actual, paws_df.model3,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [57]:
print("Model 4")

pd.DataFrame(classification_report(paws_df.actual, paws_df.model4,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [58]:
from sklearn.metrics import precision_score, recall_score, accuracy_score

In [59]:
paws_df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
4    cat    cat    cat    dog    dog      cat

In [60]:
precision_score(paws_df['actual'], paws_df['model1'], pos_label='dog')

0.8900238338440586

In [61]:
recall_score(paws_df['actual'], paws_df['model1'], pos_label='dog')

0.803318992009834

In [62]:
accuracy_score(paws_df['actual'], paws_df['model1'])

0.8074

In [ ]:
# OR

In [63]:
def calculate_precision(predictions, positive='dog'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [64]:
def calculate_recall(predictions, positive='dog'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [65]:
def calculate_accuracy(predictions, positive='dog'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [66]:
def calculate_classification(predictions, positive='dog'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [67]:
pd.concat([
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_recall).rename('recall'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_precision).rename('precision'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_accuracy).rename('accuracy'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_accuracy).rename('classification'), 
], axis=1)

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

            recall  precision  accuracy  classification
model1    0.890024   0.890024  0.890024        0.890024
model2    0.893177   0.893177  0.893177        0.893177
model3    0.659888   0.659888  0.659888        0.659888
model4    0.731249   0.731249  0.731249        0.731249
baseline  0.000000   0.000000  0.000000        0.000000

In [ ]:

precision_score?

In [68]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report

In [69]:
def calculate_precision(predictions, positive='cat'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [70]:
def calculate_recall(predictions, positive='cat'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [71]:
def calculate_accuracy(predictions, positive='cat'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [72]:
def calculate_classification(predictions, positive='cat'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [73]:
pd.concat([
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_recall).rename('recall'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_precision).rename('precision'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_accuracy).rename('accuracy'),
   paws_df.loc[:, 'model1':'baseline'].apply(calculate_accuracy).rename('classification'), 
], axis=1)

            recall  precision  accuracy  classification
model1    0.689772   0.689772  0.689772        0.689772
model2    0.484122   0.484122  0.484122        0.484122
model3    0.358347   0.358347  0.358347        0.358347
model4    0.807229   0.807229  0.807229        0.807229
baseline  0.349200   0.349200  0.349200        0.349200